<?xml version="1.0"?>
<robot xmlns:xacro="http//www.ros.org/wiki/xacro" name="my_robots_name">

    <xacro:include filename="path/to/include/file.xacro" />

    <!-- first link to the world -->
    <link name="world_link"></link>

    <!-- describes relationship between the world and base_link -->
    <joint name="base_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="world_link"/>
        <child link="base_link"/>
    </joint>

    <link name="base_link">

        <visual>
            <geometry>
                <box size="0.0 0.0 0.0"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <material>
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>

        <collision>
            <geometry>
                <box size="0.0 0.0 0.0"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        </collision>

        <inertial>
            <mass value="0.0"/>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
        
    </link>


    <joint name="joint_name_joint" type="revolute">
        <parent link="parent_link"/>
        <child link="child_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

</robot>